doctype 5

html(lang="en", ng-app="baby")
  head
    meta charset="utf-8"
    title= title

    <!--[if lt IE 9]>
    script(src="https://html5shiv.googlecode.com/svn/trunk/html5.js")
    // script(type="text/javascript") document.createElement('ng-view');document.createElement('ng-include');document.createElement('google-map');
    <![endif]-->

    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/main_fb.css')

    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js')

    script(src='/javascripts/angular-faye.js')
    script(src='/faye/browser/faye-browser-min.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/services.js')
    script(src='/javascripts/controllers.js')

    script(type="text/javascript") var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-1115917-63']);_gaq.push(['_trackPageview']);(function(){var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();